<div class="tab">
    <div class="input-fields">
        <div class="field">
            <label for="firstName">First Name <span class="required">*</span></label>
            <input type="text" id="firstName" name="firstName" class="input" tabindex=1 required/>

        </div>
        <div class="field">
            <label for="lastName">Last Name <span class="required">*</span></label>
            <input type="text" id="lastName" name="lastName" class="input" tabindex=2 required/>
        </div>
        <div class="field">
            <label for="email">Email <span class="required">*</span></label>
            <input type="email" id="email" name="email" class="input" tabindex=3 required/>
        </div>
        <div class="field">
            <label for="phone">Phone
                {% if fields['phone'].required == 1  %}
                    <span class="required">*</span>
                {% endif %}
            </label>
            <input type="text" id="phone" name="phone" class="input" tabindex=4 {{ fields['phone'].required == 1 ? 'required' : '' }}/>
        </div>
    </div>
</div>