<div class="tab finish">
    <h3>Please, check your data:</h3>
    <div class="container">
        <div class="left">
            <h4>Contact Info</h4>
            <div class="result-item">
                <label class="header">First Name: </label>
                <div class="value" id="resultFirstName"></div>
            </div>
            <div class="result-item">
                <label class="header">Last Name: </label>
                <div class="value" id="resultLastName"></div>
            </div>
            <div class="result-item">
                <label class="header">Email: </label>
                <div class="value" id="resultEmail"></div>
            </div>
            <div class="result-item">
                <label class="header">Phone: </label>
                <div class="value" id="resultPhone"></div>
            </div>
        </div>

        <div class="middle">
            <h4>Company Info</h4>
            <div class="result-item">
                <label class="header">Company: </label>
                <div class="value" id="resultCompany"></div>
            </div>
        </div>
        <div class="right">
            <h4>Address Info</h4>
            <div class="container">
                <div>
                    <div class="result-item">
                        <label class="top header">Country: </label>
                        <div class="value" id="resultCountry"></div>
                    </div>
                    <div class="result-item">
                        <label class="header">State: </label>
                        <div class="value" id="resultState"></div>
                    </div>
                    <div class="result-item">
                        <label class="header">City: </label>
                        <div class="value" id="resultCity"></div>
                    </div>
                </div>
                <div>
                    <div class="result-item">
                        <label class="top header">Address 1: </label>
                        <div class="value" id="resultAddress"></div>
                    </div>
                    <div class="result-item">
                        <label class="header">Postal Code: </label>
                        <div class="value" id="resultPostalCode"></div>
                    </div>
                    <div class="result-item">
                        <label class="header">Address 2: </label>
                        <div class="value" id="resultExtendedAddress"></div></div>
                </div>
            </div>

        </div>
    </div>
</div>