<div class="tab">
    <p class="payment-error alert alert-danger hidden ">Please, fill this step</p>
    <div id="dropin-container"></div>
    <input type="hidden" id="nonce" display="none" name="nonce" />
</div>