{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("endurant\\donationsfree\\assetbundles\\donationsfree\\DonationsFreeAsset") %}
<h2 class="instructions-header">Instructions</h2>
<div>
    API credentials are unique account identifiers that must be added to your code before you can process payments via the API. Think of them as your username and password to payment processing.
    This is your user-specific public identifier. Each user associated with your Braintree gateway will have their own public key.

    To find your keys:

    <ol>
        <li>Log into either the production Control Panel or the sandbox Control Panel, depending on which environment you are working in</li>
        <li>Navigate to Account > My User</li>
        <li>Under API Keys, Tokenization Keys, Encryption Keys, click View Authorizations</li>
    </ol>

    You'll find your keys under the API Keys section at the top. If no API keys appear, click Generate New API Key.
</div>